# Configuration File
# Purpose: Define system wide settings such as HTML compilation mode, caching mode, etc.

# Server Settings
port: 8080
host: 127.0.0.1

# HTML Compilation Settings
# static - MD files are compiled into a HTML files when the service starts. More performant but less flexible.
# live - MD files are loaded when requested. Less performant but more flexible.
html_compilation_mode: static

# Define the locations of the various user-defined directories
content_path: content
assets_path: assets
user_static_path: user-static
templates_path: templates

# remote content path
# null means local content path
# otherwise, the content will be fetched from the remote path
# url only supports git urls (e.g. https://github.com/jaysongiroux/mdserve.git)
git_remote_content_path: null
# the directory in the remote path to fetch the content
# if the remote url is provided, this must be a subdirectory of the remote path
# ex. content/md_files
git_remote_content_directory: content
# the directory in the remote path to fetch the assets
# if null, assets from the remote path will NOT be copied from the remote path
# if a remote url is provided, this must be a subdirectory of the remote path
# site assets such as icons, logos, etc should be placed in this directory as well since the remote will overwrite the local assets
git_remote_content_assets_directory: assets
# the directory in the remote path to fetch the user static assets
# if null, user static assets from the remote path will NOT be copied from the remote path
# if a remote url is provided, this must be a subdirectory of the remote path
# NOTE: user static assets such as custom.css and custom.js should be placed in this directory as well since the remote will overwrite the local user static assets
git_remote_content_user_static_directory: user-static
# the branch to fetch the content from
# required if a remote url is provided
git_remote_content_branch: master

# Path where static files are generated
generated_path: .static

# Image optimization settings
# all images that are found in the assets folder will be converted to webp
# format and optimized for the given quality
optimize_images: true
optimize_images_quality: 80

# NOTE: CHANGE THIS TO FALSE
# This copies the repo's README to the asset's folder to be treated as a home page
demo: false

# log level
log_level: debug

# cron configuration
# this cron will run at your specified interval which runs the preliminary setup process
# this process converts markdown files to HTML, optimizes assets, generates the sitemap, and 
# if configured, pulls down the latest changes from the remote content path
# Scenarions:
# - you use git to manage your content, assets, user-static, etc:
#   - Enable this cron and set the html compilation mode to static
#   - when a push is made to your remote path, the cron will pull down these changes and regenerate the static files within the interval
generation_cron_enabled: true
# Format supported:
#  - "standard" cron format: https://en.wikipedia.org/wiki/Cron ex. "0 12 * * *"
#  - "robfig" cron format: https://github.com/robfig/cron  ex. "@hourly"
generation_cron_interval: "@hourly"

# cache control settings
# cache control settings for the HTML files
cache_html_max_age: 3600 # 1 hour
# cache control settings for the assets and user static files
cache_static_max_age: 2592000 # 30 days