<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ .Site.Name }}" />

<link rel="stylesheet" href="{{ .AssetsPath }}/base.css" />
<script src="{{ .AssetsPath }}/base.js"></script>

<!-- User overrides -->
<link rel="stylesheet" href="{{ .UserStaticPath }}/custom.css" />

<!-- user js overrides -->
<script src="{{ .UserStaticPath }}/custom.js"></script>

<script src="{{ .AssetsPath }}/tailwind.js"></script>
<script src="{{ .AssetsPath }}/elements.js" type="module"></script>

{{ template "base_meta.html" . }}
